.navbar {
  background-color: aliceblue;
}
.banner {
  background-color: #abbdcc;
}
.about {
  background-color: #9dbcd6;
}
.projects {
  background-color: #abbdcc;
}

a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

.header-img {
  width: 300px;
}
.banner Button {
  background-color: sienna !important;
  border: none;
}
.banner Button:hover {
  background-color: saddlebrown !important;
}
.skills-icons {
  text-align: center;

  font-size: 12px;
}

.project-card {
  border-radius: 10px;
  background-color: whitesmoke;
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.projects img {
  border-radius: 10px;
  max-width: 100%;
  margin: 5px;
}

.project-info {
  text-align: center;
  padding-top: 10px;
}
.project-btns {
  flex-direction: column;
  margin: auto;
}
.project-btns Button {
  background-color: sienna !important;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}
.project-btns Button:hover {
  background-color: saddlebrown !important;
}
.projects a {
  color: white;
}
