section {
  text-align: center;
  background-color: rgba(255, 252, 252, 0.2);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
a {
  text-decoration: none;
}

.theme-btn {
  padding: 10px;
  margin: 0;
  border-color: #333;
  background-color: white;
  border-radius: 20px;
  border-width: 2px;
}
.theme-btn:hover {
  background-color: #091a4b !important;
  border-color: grey !important;
}
.dark {
  background-color: #091a4b;
  color: #fff;
}
.light {
  background-color: #279aba;
  color: #333;
}
.header-img {
  width: 300px;
}
.contact-btn {
  background-color: sienna !important;
  border: none;
}
.contact-btn:hover {
  background-color: saddlebrown !important;
  transition: ease-in-out 150ms;
}
.contact-btn a {
  text-decoration: none;
  color: white;
}
.skills-icons {
  text-align: center;
  font-size: 12px;
}

.project-card {
  border-radius: 10px;
  background-color: rgba(255, 252, 252, 0.2);
  margin: 10px;
  padding: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.projects img {
  border-radius: 10px;
  max-width: 100%;
  margin: 5px;
}

.project-info {
  text-align: center;
  padding-top: 10px;
}
.project-btns {
  flex-direction: column;
  margin: auto;
}
.project-btns Button {
  background-color: sienna !important;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}
.project-btns Button:hover {
  background-color: saddlebrown !important;
  transition: ease-in-out 150ms;
}
.projects a {
  color: white;
}
.contact Img {
  max-width: 50%;
}
.contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.rotate {
  animation: rotation 5s infinite linear alternate;
}
@keyframes rotation {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}
